/* --------------- Body with alternating background color -------------- */

body {
	background: -webkit-repeating-radial-gradient(circle, rgb(255, 255, 255), rgb(255, 217, 179));
	background-size: 400% 400%;
	-webkit-animation: AnimationName 10s ease infinite;
	-moz-animation: AnimationName 10s ease infinite;
	animation: AnimationName 10s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

/* --------------- Universal Style --------------- */

h2 {
    background-color: rgba(10, 87, 134, .6);
    border-bottom: 2px solid rgba(10, 87, 134, .6);
    border-top: 2px solid rgba(10, 87, 134, 1);
    border-radius: 5px;
    box-shadow: 8px 8px 8px #000;
    color: #fff;
    font-size: 1.1em;
    padding: 0.3em 1em;
    text-shadow: #9fbeb9 1px 1px 1px;
    text-transform: uppercase;
}

.data-heading {
    background-color: rgba(10, 87, 134, 1);
    text-shadow: #000 1px 1px 1px;
}
textarea {
    font: inherit;
    padding: 2px;
}
.fields {
    background-color: #FFF3E7;
    border: 1px solid #eaeaea;
    margin: .75em; /* 12px */
    padding: .75em;
    box-shadow: 8px 8px 8px black;
}
.fields .row {
    margin: 0.5em 0;
}

.btnChange {
  margin: 0 15px;
}
label {
    cursor: pointer;
    display: inline-block;
    padding: 3px 6px;
    text-align: left;
    width: 150px;
    vertical-align: top;
}
.div-spacing {
    margin-top: 10px;
}
input, select, button {
    font-size: inherit;
}
.field-small {
    width: 75px;
}
.field-medium {
    width: 230px;
}

/* --------------- Table styles --------------- */

tbody {
    border: 2px;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 3px solid ;
}
tr, th, td {
    text-align: left;
    padding: 5px;
}

/* --------------- Alternate color with table --------------- */
.displayQuery:nth-child(odd) {
    background-color: #A7A88A;
    
}
.displayQuery:nth-child(even) {
    background-color: #FFF3E7;;
}


footer {
    background-color: #0A5786;
    text-align: center;
    color: white;
    width: 100%;
    height: 2.5rem;
    bottom: 0;
    display: block;
}

#bRem {
    font-size: 2em;
    background-color: #cc0000;
    text-align: center;
    color: #fff;
    box-shadow: 3px 3px 3px #000;
    text-shadow: #000 1px 1px 1px;
}
.calendar {
    background-color: rgba(10, 87, 134, .5);
    color: #fff;
    border: 2px solid #000;
}
.search {
    background: #A7A88A;
    padding-left: 5px;
    border-top: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
}
.delete {
    background:#FFF3E7;
    padding-left: 5px;
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
}


.bttn {
    background-color: rgba(10, 87, 134, 1);
    color: white;
    margin: 7px;
}
#dataForm {
    display: none;
}
#showData {
    background-color: #cc0000;
    color: white;
    margin: 10px 0;
}
@media only screen and (max-width: 600px) {
    #showData, #h2Hide {
        display: none;
    }
    .row {
        width: 100%;
    }
    .formContainer {
        width: 100%;
    }
  }

#newcrop {
    margin: 7px;
    background-color: #f0ad4e;
}
#adddata {
    margin: 7px;
    background-color: #5cb85c;
}
#chngForm {
    background-color: rgba(10, 87, 134, 1);
    margin: 7px;
    color: white;
}
#session-name {
    padding-top: 15px;

}
form {
    margin: 0 -12px;
}

/* ---------------- in calendar.php ---------------- */
#delete-cal:link {
    background-color: #f44336;
    color: white;
    padding: 5px 5px;
    border: 1px black solid;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

/* ---------------- seed-search-form.php && bath-search-form.php ---------------- */
.dltBtn {
    background-color: #cc0000;
    color: White;
    border: 1px black solid;
    border-radius: 10px;
}

/* ---------------- profile.php ---------------- */
.profile-table {
    width: 400px;

}